<main>
    <app-header/> 
    <nav>
    <a [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" >Home</a>
    <ng-template [ngIf]="authService.isAuthenticated()" [ngIfElse]="login">
        <a [routerLink]="['/profile']" routerLinkActive="active-link"> Profile </a>
        <a [routerLink]="['/pratiche']" routerLinkActive="active-link">Pratiche</a>
    </ng-template>
    <ng-template #login>
        <a [routerLink]="['/login']" routerLinkActive="active-link">Login</a>
    </ng-template>
    </nav>
    <section class="content">
        <router-outlet></router-outlet>
    </section>
</main>

